$bg-primary: #4f5475;
$shape-bg-primary: #2b2d3e;
$fc-primary: #fafafa;
$fc-active: #87ff87; //#aaffaa #8bce8b

$triangle-width: 100px;
$triangle-height: 80px;
$rombus-wrapper-side-length: 100px;
$heart-center-width: 70.71px;  // Math.sqrt( 2*$rombus-wrapper-side-length **2)
$square-side-length: 80px;


